[2017-04-14 22:25] cklunch opened #1 "Running list of NEON utilities"
Use this issue to track desired functionality, who is working on what, etc.
- [ ] file-stacking code: to merge the monthly files provided by the portal from the old file cache (zipped monthly files) into a single file. @chrlaney  is working an R snippet. Joe Z will work on a python snippet.
- [x] file-stacking code: to merge the monthly files provided by the portal from ECS (monthly files, but not

[2017-06-28 16:01] cklunch opened #2 "neonDataStackR dplyr install"
@chrlaney auto-install of dplyr from neonDataStackR installs an out-of-date version.

[2017-07-06 14:14] chrlaney opened #3 "If only 1 instance of a data table, does not copy into the stackedFiles folder"
But it says that it stacked the table. Bug found in recent deployment of DP1.20066 aquatic plant clip harvest. Solution: if only one file with a given table, copy into stackedFiles folder.

[2017-07-06 16:34] chrlaney commented on #2
I think this is fixed, please let me know if there are any further problems.

[2017-07-06 16:34] #2 closed

[2017-07-06 16:53] chrlaney opened #4 "neonDataStackR needs to stack files downloaded via the API"
The current package works for zip file downloaded from the data portal.

[2017-07-08 19:50] chrlaney commented on #3
Fixed with commit https://github.com/NEONScience/NEON-utilities/commit/9d8630310ded20c203ccebc710f82f65a6f09209

[2017-07-10 19:26] sokole commented on #3
I re-installed the package today, then stacked the aquatic cell counts data and this bug seemed to persist.

[2017-07-11 00:16] chrlaney opened #5 "Add siteID column for IS data products"
At least some IS data products don't have siteID in the tables - need to generate one for each stacked table.

[2017-07-13 00:23] chrlaney commented on #5
Fixed - see commit 71d8d72

[2017-07-13 00:23] #5 closed

[2017-07-13 00:24] chrlaney commented on #3
This is a different bug. Closing this issue and creating issue #6.

[2017-07-13 00:24] #3 closed

[2017-07-13 00:25] chrlaney opened #6 "External lab files are not stacked"
For example, see microbe cell counts data product - each monthly package contains NEON.Argonne National Laboratory.amc_cellCountLabSummary.csv. These do not stack because their file naming convention differs from NEON data files naming conventions.

[2017-07-13 14:45] sokole commented on #6
I don't think you want to stack these because the same table is often repeated in each zipped chunk (with the other data tables that do get stacked). I think the best option regarding the lab summary tables would be to take the one from the zipped chunk with the latest date return that with the other stacked files. --I think you may have already implemented something like this?

[2017-07-13 16:05] chrlaney commented on #6
@sokole - I was actually thinking of a merge - no duplicates but make sure all info is available in the 'stacked file'. Or will the most recent version of the file always contain all of the data that a user might need?

[2017-07-13 16:09] scelmendorf commented on #6
Most recent should contain the best

[2017-07-13 16:10] chrlaney commented on #6
True for all data products with external lab data or just this product?

[2017-07-13 16:11] scelmendorf commented on #6
Umm.  I am pretty sure true for all labs?

[2017-07-13 16:16] chrlaney commented on #6
Ok, will go with that for now and revisit if we find another use case.

[2017-07-13 16:18] chrlaney commented on #6
Will all of the lab summary files for various data products contain the string "labSummary" (and if not, make a convention)? er.... and is there a naming convention right now for lab files? Was surprised to see white spaces in file name.

[2017-07-13 16:22] scelmendorf commented on #6
I have no idea - you would have to ask @cklunch

[2017-07-17 15:07] cklunch commented on #6
The white spaces are in there because Dawn is creating the file names using the lab names, which have spaces. I wouldn't count on every one containing "labSummary." I think the cleanest way to handle these lab-current files would be the same as we did for the lab-all files (eg tck_pathogenqa), and only publish one copy with each download. Would that be hard to do?

[2017-07-17 22:43] chrlaney commented on #6
Hi @ddlenz, please see Claire's comment and thread above. What do you think?

[2017-07-17 22:58] ddlenz commented on #6
The filenames are generated per your specifications - if you want them changed, just let me know. Spaces aren't disallowed in named location names, but seem undesirable in filenames.

[2017-07-17 23:04] chrlaney commented on #6
Thanks @ddlenz. @cklunch , I agree with your recommendation, could you please draft something - would help if there is consistency that we can key on across data products.

[2017-07-17 23:22] cklunch commented on #6
The current format seems to be following the rules laid out here generically: https://github.com/NEONScience/how-to-make-a-data-product/blob/master/Publication%20workbook%20OS/defunct/pubInstructionsGenericOS.pdf and here in a specific case including a lab-specific file: https://github.com/NEONScience/biogeochemistryIPT/blob/master/StreamWaterChem/old%20def%20data%20(before%20L0%20decision)/pubIns

[2017-07-20 18:38] sokole opened #7 "NEONdataStackR not working with mos data off portal"
@chrlaney

Here's the error I get:

I'm trying to stack mosquito CO2 trapping data from D03

[2017-07-20 18:39] chrlaney commented on #7
@sokole when did you download the data?

[2017-07-20 18:41] sokole commented on #7
about 5 minutes ago

[2017-07-20 18:44] chrlaney commented on #7
Yes, that was my concern too - the data may be formatted in a way I didn't anticipate. I'll take a look at it but might not get to it until tomorrow.

[2017-07-20 18:45] chrlaney commented on #7
![](https://github.trello.services/images/mini-trello-icon.png) [Check out problem with mosquito borne pathogen data stacking.](https://trello.com/c/qSr402oA/13-check-out-problem-with-mosquito-borne-pathogen-data-stacking)

[2017-07-20 18:48] sokole commented on #7
I'm going to try different domains and see if the problem is universal. It seems to unzip most of the files, then hits an error (table with the wrong number of columns?). Might be a problem in the data though. I'm trying to check the data to make sure they published correctly, so maybe they didn't.

[2017-07-20 18:48] chrlaney commented on #7
Thanks!

[2017-07-20 18:49] sokole commented on #7
D01 fails too

[2017-07-21 16:15] chrlaney commented on #7
Code for IS column reordering was interfering with OS data packages. Fixed with ff4bc6e. @sokole please help me test?

[2017-07-21 16:16] sokole commented on #7
sure, I was just going to post that it's not just the mos data... the stacker doesn't work for any data sets for me now. That makes sense... so your explanation makes sense.

[2017-07-21 16:27] sokole commented on #7
@chrlaney it's working again. Thanks!

I was able to successfully stack the mosquito with CO2 trap data. Also tested on the tick data, and that worked too.

[2017-07-22 16:39] chrlaney commented on #6
Added a new rule for handling Argonne lab file - find all, copy first one in the list to stackedFiles folder.

[2017-07-22 16:39] #6 closed

[2017-07-24 14:44] scelmendorf commented on #7
Perhaps a separate issue but I reinstalled neon-utilities from github this AM and I cannot stack the mosquito files. mos_archive_pooling stacks ok, get 'Error in full_join_impl(x, y, by$x, by$y, suffix$x, suffix$y, check_na_matches(na_matches)) :
  std::bad_alloc' when it stacks mos_expertTaxonomistIDProcessed

[2017-07-24 17:01] scelmendorf commented on #7
Also - same files, I expect unrelated issue, but when the stackByTable function reads in a string variable in a particular file that contains only the string 'F', it auto-interprets at 'FALSE'.  This is causing some odd behaviour for the files that contain only female (F) mosquitoes.  Try stacking file NEON.D01.HARV.DP1.10043.001.mos_expertTaxonomistIDProcessed.2016-05.basic.20170720T152713Z if yo

[2017-07-24 18:51] chrlaney commented on #7
Well, I've tried to duplicate your issue @scelmendorf but no luck. Made sure my code copy was up to date, downloaded a new mosquitos dataset (all sites, all months), cleared the R environment, etc. and it appears to stack fine. Could you send me the data package you used if you still have it?

[2017-07-24 19:29] sokole commented on #7
Here are a couple more details of the problem, at least for me...

- running stackR as script does not produce an error message, but running stackR using "knit" on a .Rmd file does produce an error message.
- When running stackR as R script or in command windows, result message will say all tables have stacked fine, at least for all mosquito data (as it is currently exported from the portal), BUT,

[2017-07-25 02:58] chrlaney commented on #7
@scelmendorf & I narrowed down at least part of the issue to a few expertTaxonomistIDRaw (not expertTaxonomistIDProcessed) files that only have 2 columns - domainID and siteID - in the basic package. The full complement of fields for expertTaxonomistIDRaw exist in the expanded package, so these files stack correctly. The pub workbook needs to be updated, and then the data republished. For future i

[2017-07-25 02:58] #7 closed

[2017-07-25 03:00] chrlaney opened #8 "'F' misinterpreted as "FALSE" when a column's only data value is 'F'."
One file causing problems is NEON.D01.HARV.DP1.10043.001.mos_expertTaxonomistIDProcessed.2016-05.expanded.20170720T152713Z.csv, column sex (all-female batch of mosquitoes).

[2017-07-25 14:20] chrlaney opened #9 "Check size of joined files; break into smaller chunks where needed"
Provide options to slice by year, by site.
Also document how to increase R memory allocation.

[2017-07-31 18:52] chrlaney opened #10 "Do not stack any site-all files - put 1 into stackedFiles folder."
Example: phe_perindividual

[2017-07-31 19:14] natalie-robinson commented on #10
Hi @chrlaney -

In case it helps, I wrote a little script to:

1) identify the unique sites in a directory of zipped site-folders
2) go through and grab the phe_perindividual (a per-year file) file from the first zipped site-folder for each unique site and append it to a dataframe in R - and then stop looking at zipped folders for that site
3) continue this for all unique sites
4) write out a sing

[2017-08-15 23:53] chrlaney commented on #10
@cklunch @natalie-robinson @scelmendorf @sokole I think(?) the latest push fixes the problem. Unfortunately, for now it relies on a table type csv file that shows whether a table is site-date, site-all, etc. that has to be updated as new data products are added. Will look into using the dps database in the future. Please test for now with various data products and let me know if you have any probl

[2017-08-16 17:51] #10 closed

[2017-08-18 14:58] sokole opened #11 "dataStackR issue with Ground beetles sampled from pitfall traps"
@chrlaney

I get this error when trying to stack Ground beetles sampled from pitfall traps:

[2017-08-18 15:00] sokole commented on #11
I'm not sure what it's looking for that it's not finding. Would it be an issue of some subdirectories don't have all the tables?

[2017-08-18 18:52] chrlaney commented on #11
Thanks for the alert message @sokole - It looks like there was an sync issue for that file. I've fixed it but now dealing with another bug. I'll let you know when fixed :)

[2017-08-21 16:51] chrlaney commented on #11
@sokole - I think it's fixed. Can you reinstall on your local machine and try it out?

[2017-08-21 19:00] sokole commented on #11
@chrlaney just reinstalled and tried stacking stream discharge and got the same error. I'll try with some other data sets and let you know if I learn anything new.

[2017-08-21 19:08] chrlaney commented on #11
argh. Thanks though!

[2017-08-21 19:19] sokole commented on #11
FYI, I seem to get the same error with any data set I download off the portal at the moment.

[2017-08-21 19:20] chrlaney commented on #11
Which ones are those?

[2017-08-21 19:23] sokole commented on #11
Tick counts, Stream discharge, and Macroinvertebrate collection are the ones I've tried today.

[2017-08-21 19:25] chrlaney commented on #11
Thanks. I'll start troubleshooting with these.

[2017-08-21 19:26] sokole commented on #11
Just tried plant phenology and that one no longer works either.

It successfully unpacks the zipped files for all these data products, if that helps. It seems to bork in the stacking part of the function.

[2017-08-21 19:34] chrlaney commented on #11
I think because the table_types.csv file is still incomplete. I'm working on it. :)

[2017-08-26 18:00] lstanish commented on #11
@chrlaney @sokole Just an FYI that I tried to stack mosquitoes and there's the same issue. Will check back later!

[2017-09-22 00:48] chrlaney commented on #11
fixed in release v0.1.3 pecan

[2017-09-22 00:48] #11 closed

[2017-10-20 15:17] sokole opened #12 "neonDataStackR broken -- issue with RMySQL dependency"
when I try to install local, I get the following error:

`> devtools::install_local('C:/Users/esokol/Desktop/neonDataStackR')`

`Installing neonDataStackR`
`"C:/PROGRA~1/R/R-34~1.1/bin/x64/R" --no-site-file --no-environ --no-save --no-restore --quiet CMD INSTALL  \
  "C:/Users/esokol/AppData/Local/Temp/Rtmp0kKa0D/file4ad07c76763/neonDataStackR"  \
  --library="C:/Users/esokol/Documents/R/win-libra

[2017-10-20 15:21] sokole commented on #12
@chrlaney I think @tapchesney had this issue too?

[2017-10-20 15:22] cklunch commented on #12
@sokole Do you get the same result if you use install_github?

[2017-10-20 15:23] sokole commented on #12
yep

[2017-10-20 15:38] sokole commented on #12
this is the last commit (from Oct 6) for the package that works for me
9d16d990c7c174b867816ce3d4c8c39e1fda53d6

[2017-10-20 15:51] chrlaney commented on #12
Could you please try again? I just wrapped the code for updating table_types.rda into a function, hopefully will not require installation of RMySQL.

[2017-10-20 15:53] tapchesney commented on #12
Sorry for the late reply, @sokole. Yes, I had the exact same issue. I manually installed RMySQL and it still gave the error. Then, magically, I reinstalled the neonDataStackR a day later and it worked. Looks like @chrlaney made some updates. I hope it works!

[2017-10-20 15:58] sokole commented on #12
@chrlaney success! Thanks!

[2017-10-20 16:00] chrlaney commented on #12
@sokole @tapchesney Thanks for persisting!

[2017-10-20 16:00] #12 closed

[2017-10-20 16:16] sokole opened #13 "neonDataStackR still broken -- table_types not found"
@chrlaney  sorry to be a pain!

The package installs, but doesn't stack. Here I am trying to stack ticks sampled by drag cloths for D01, which has worked in the past. I also tried chem root and phys soil dist.

[code]

[2017-10-20 16:18] chrlaney commented on #13
Argh. I just used it on the same data product and it ran fine. Sorry! I wonder if I have to have table_types loaded into the environment before saving.

[2017-10-20 16:21] chrlaney commented on #13
Just made a new commit. Try again @sokole? If not, any recommendations?

[2017-10-20 16:31] sokole commented on #13
well, this doesn't work:
[code]
...but, this does work:
[code]
So you're right. It's looking for the table_types in the global environment. If I put them there, it works fine.

[2017-10-20 16:35] chrlaney commented on #13
Hmm, that helps. So I updated the code a little. Try again?

[2017-10-20 16:36] sokole commented on #13
nope, still not found.

It's probably not idea, but did you try a global assign from within your package?
[code]

[2017-10-20 16:40] chrlaney commented on #13
No, but that's a good idea, as is an explicit call (maybe?) to load the data. Thanks for being the guinea pig, as I'm clearly having problems testing this in my local environment.

[2017-10-20 16:40] sokole commented on #13
ah, you know what. I guess my problem is I'm not loading the package. I'm just doing the following:
[code]

When I do this it works fine...
[code]

[2017-10-20 16:42] sokole commented on #13
but yeah, I think if you are assuming table_types is in the environment in a function, you should put it there first.

[2017-10-20 16:42] sokole commented on #13
or, where ever it is that you use table_types, probably the most fool-proof way of doing it is replacing table_types with neonDataStackR::table_types.

[2017-10-20 16:44] chrlaney commented on #13
Thanks. I assumed with using Roxygen that the data would automatically be loaded, but that was not correct. Can I close this now?

[2017-10-20 16:45] sokole commented on #13
sure

[2017-10-20 16:54] #13 closed

[2017-10-23 17:13] cklunch commented on #4
Added zipsByProduct() function to pull data from API and save in a format stackByTable() can be applied to.

[2017-10-23 17:13] #4 closed

[2017-10-30 21:14] kcawley commented on #13
@sokole @chrlaney I am having a similar problem when running the dissolved gas package. Should I be adding library(neonDataStackR) to the functions within the packages even though they have @importFrom neonDataStackR in the roxygen header and Imports: neonDataStackR in the DESCRIPTION file?

[2017-10-30 21:16] chrlaney commented on #13
@kcawley Have you installed the most recent version of neonDataStackR?

[2017-10-30 21:22] kcawley commented on #13
I guess not, I reinstalled (had to set force = T) and it appears to be working.

[2017-10-30 21:23] chrlaney commented on #13
It's being updated quite often these days, so continue to use force = T.

[2017-11-09 20:14] scelmendorf opened #14 "neonDataStackR - add parameter to stackByTable for where to write files"
neonDataStackR - stackByTable would be nice to have an option to write stacked files back to a different directory than the parent directory of the zip.

[2017-11-09 20:16] scelmendorf opened #15 "neonDataStackR - stackByTable - add parameter to retain vs delete unzipped files"
neonDataStackR - stackByTable would be nice to have an option/default (e.g. saveUnzippedFiles = T/F) of not saving the unzipped but still unstacked files. I think the most common use case is to use ONLY the stacked files after running successfully.

[2017-11-21 22:45] kjones13 opened #16 "zipsByProduct returning empty files"
Hello!
Here is the R code I am running, attempting to download all phenology data from Harvard Forest.

[code]

The result is a folder containing a zip folder for every month, each folder contains only one csv or xml file which when opened, is empty.  This does not occur when I run an api call for a single month of data or download directly from the data portal. Can you advise?

[2017-11-21 23:56] chrlaney commented on #16
Hi @kjones13 & @cklunch,

I am trying to reproduce this problem but on my Mac I can't even download a single zip file from the API using downloader::download(). For example (and note that the URLs expire after a while, so this URL won't work shortly after I post this):

[code]
I checked in with @jzollerneon who also tested this on his mac - downloader::download() (we both have v0.4) is defaulting

[2017-11-23 00:17] kjones13 commented on #16
@chrlaney I got this response last night and was already too late to run it, it was already to attempt it.
When @cklunch and I were troubleshooting this issue previously, there seemed to be a difference between how macs and pcs behaved.  I too am using downloader package v0.4.

@samsimkin, would you mind running the code above and letting us know what you get?

I'm not sure this is a new issue, I

[2017-11-27 16:43] samsimkin commented on #16
At Katie's request I ran her script and got the same problem she did when using the the zipsByProduct function (e.g. zipsByProduct(dpID=dpid, site="HARV", package="basic") ). That problem is that the zips that download contain just a single, seemingly random, file (sometimes a validation file, sometimes a variables file, sometimes a data file, sometimes a readme file, sometimes an xml file, but ne

[2017-11-27 16:49] cklunch commented on #16
I'll look into it. I thought I had this fixed, since I circulated a test case in October and it worked on everybody's machine, but something must have changed.

[2017-11-27 20:37] kjones13 commented on #16
@cklunch I just ran the test script you sent in October, it still works for me, so I think the issue we are running into must be different.

[2017-11-27 22:47] cklunch commented on #16
@chrlaney @jzollerneon Just pushed a new zipsByProduct(), now with a mode="wb" argument in the downloader::download call. It now works on Katie's computer (Windows) and mine (Mac). Can you try it out and see if you're still running into problems? Thanks!

[2017-11-27 22:54] chrlaney commented on #16
Unfortunately your update doesn't help with the issue I'm having.

Continuing will download files totaling approximately 2.907603 MB. Do you want to proceed y/n: y
downloaded 0 bytes

Error in download.file(url, method = method, ...) :
  cannot download all files
In addition: Warning message:
In download.file(url, method = method, ...) :
  URL 'https://neon-prod-pub-1.s3.data.neonscience.org/NEON.

[2017-11-27 22:55] chrlaney commented on #16
But clicking on the link the error message works...

[2017-12-04 23:50] kjones13 opened #18 "stackByTable not stacking site-all tables"
Hello, I have a folder containing data zip files from multiple sites, each zip contains 1-2 site-date files and 1 site-all file . If I run the stackByTable function, I get tables containing all data, from all sites for the two site-date tables, but the site-all table only contains data pertaining to only one site, BART. BART is the first site in the list of zip folders, so it appears the stackByTa

[2017-12-14 19:52] chrlaney commented on #18
@kjones13 - sorry for the delay on the fix. Please reinstall and try again, and let me know if you run into any issues!

[2017-12-14 21:31] kjones13 commented on #18
it works! Thank you for this fix @chrlaney!

[2017-12-14 22:20] #18 closed

[2018-01-09 01:17] mjones01 opened #19 "StackByTable not working with DP1.20093"
@cklunch @chrlaney  I am working with the surface water chemistry data and getting the following error when I run the stackByTable function.  I am able to stack other Data Products (like DP1.00002) so it appears to be an issue with the Data Product set up.

Unpacked  NEON.D11.PRIN.DP1.20093.001.2016-10.basic.20171212T170858Z.zip
Unpacked  NEON.D11.PRIN.DP1.20093.001.2016-11.basic.20171212T194316Z.

[2018-01-09 01:26] chrlaney commented on #19
@mjones01 I just tried it on my end and it works fine (expanded package, all data available). Did you freshly install the neonDataStackR package?

[2018-01-09 04:44] mjones01 commented on #19
@chrlaney Yes. When I ran into the problem I delete my previous version and reinstalled the package this evening from GitHub.  I should also have mentioned that when I get the error, I also get an unzipped dir. which contained a stackedFiles subdir but the stackedFiles dir only contains validation.csv and variables.csv files. Any thoughts on how I could trouble shoot on my end?

[2018-01-09 17:20] mjones01 commented on #19
@chrlaney I tried this again this morning on an entirely new set up (Windows 10 with new installs of R, RStudio, & neonDataStackR this morning).  Exact same error message for DP1.20093 and again a successful stack of DP1.10055 (Plant Pheno) data. This is with data downloaded from the portal and not pulled through the API, if that matters. I also tried a data set from ARIK with the same error messa

[2018-01-09 17:39] chrlaney commented on #19
@mjones01 - I've made an update of table_types.rda in the github repo. Could you please try
devtools::install_github("NEONScience/NEON-utilities/neonDataStackR", force = TRUE)
and then try running stackByTable() once more? If it still doesn't work, could you stop by with your computer?

[2018-01-09 18:16] mjones01 commented on #19
Resolved.  Thank you for your help.

[2018-01-09 18:16] #19 closed

[2018-01-09 18:17] chrlaney commented on #19
Note for future - still unclear why this occurred. In order to get the package to install correctly, the environment needed to be cleared, and then RStudio restarted.

[2018-01-10 17:00] chrlaney commented on #16
This seems to no longer be an issue.

[2018-01-10 17:00] #16 closed

[2018-01-10 21:31] chrlaney commented on #15
Added this parameter to stackByTable(); it will currently remove all unzipped monthly data folders, and no EML or readme files will be retained.

[2018-01-10 21:31] #15 closed

[2018-03-08 15:53] scelmendorf opened #22 "Add option for quiet/quietly or silent=T & progress bar"
Just a suggestion for an aesthetic enhancement, but would be nice to add a progress bar and an option to suppress all the messages. Specifically thinking of the screen of red 'Joining by .....' in stackByTable' and the screen of red 'Trying url' in zips by product.
 I would make this the default.

[2018-03-14 22:20] chrlaney opened #23 "mam_pertrapnight not stacking correctly"
When all sites/months are stacked, the header gets overwritten for some columns and not others. Potential cause may be different formats between at least 2 files.

[2018-03-15 22:54] chrlaney commented on #23
This appears to have occurred on the client end - rerunning resulted in a clean file. Closing until this occurs again.

[2018-03-15 22:54] #23 closed

[2018-04-03 17:08] chrlaney commented on #8
Updated code where seemed to be balking.

[2018-04-03 17:08] #8 closed

[2018-04-05 16:09] chrlaney commented on #22
Silent is the de facto mode now, with progress bars. Later revision will include piping messages to a log file.

[2018-04-05 16:09] #22 closed

[2018-04-09 21:11] chrlaney opened #25 "update zipsByProduct() to regenerate url list if one expires during downloads"
Code can follow what byFileAOP() does currently.

[2018-04-10 19:18] chrlaney opened #26 "allow user to specify save location for getPackage() and add message where file saved"

[2018-04-12 19:11] tyson-swetnam opened #27 "RRuntimeError: Error in loadNamespace(name) : there is no package called ‘neonDataStackR’"
Following this notebook `NEON-utilities/neon-data-stacker-python/Use NEON data stacker in Python.ipynb` using an installation of Anaconda3.

[code]
does not return any CRAN mirror selections.

Later,

[code]

gets this error:

[code]
Maybe its an `Anaconda3` problem?

[2018-04-24 17:07] mjones01 opened #29 "stackByTable(): Error in tt$tableName"
This issue was submitted to me by a faculty member using neonUtilities in the class.  I did not get the error with a neonUtilities version downloaded last week (after the release) but am getting it on a Mac when I download the current version.  This is an error for at least two different DP (small mammal and surface water chem).

Input: `stackByTable("DP1.10072.001","~mjones01/Downloads/NEON_count

[2018-04-24 17:11] chrlaney commented on #29
Reverted to previous version.

[2018-04-24 17:29] mjones01 commented on #29
I left out of my initial post that the faculty member said it was working fine on Windows but not on Macs.

[2018-05-09 16:34] bw4sz opened #30 "Select tiles based on extent for byFileAOP"
First day with the NEON API. All feedback welcome. Couples questions as I get started.

I'm looking to download the high resolution camera imagery (DP1.30010.001), the lidar point cloud, and the hyperspectral data for a single site (OSBS). Is there anyway to select a set of tiles based on the extent of my field-collected data. While I may eventually need the full site scale, given the large data s

[2018-05-09 17:27] markkessel commented on #30
The Harris ENVI software (NEON has some licenses) provides capabilities of subsetting imagery, lidar and hyperspectral datasets by extent (e.g., defined by shapefile), but I'm not sure that gets you closer to where you need to be.

thanks,
Mark

[2018-05-17 18:52] #27 closed

[2018-05-17 18:55] chrlaney opened #32 "EML and readme files are deleted if stackByTable(saveUnzippedFiles=TRUE)"

[2018-05-17 19:47] bw4sz commented on #30
Sorry, never closed this. I downloaded fullsite and then cropped using R.

[2018-05-17 19:47] #30 closed

[2018-05-22 15:51] scelmendorf opened #33 "add parameter to set user-defined file directory to neonUtilities::zipsByProduct"
so as not to always clog up your working directory, akin to fix in #14

[2018-05-22 16:55] scelmendorf opened #34 "stackByTable only works if library is loaded"
does not work:
neonUtilities::stackByTable(dpID="DP1.10055.001", paste0(getwd(), "/filesToStack10055"), folder=T)

Error in stackDataFiles(savepath) : object 'table_types' not found
In addition: Warning message:
In data("table_types") : data set ‘table_types’ not found

works:
library(neonUtilities)
neonUtilities::stackByTable(dpID="DP1.10055.001", paste0(getwd(), "/filesToStack10055"), folder=T)

[2018-05-23 20:43] cklunch commented on #33
Added this in the latest release. Next up: do the same in byFileAOP().

[2018-06-15 15:56] cklunch commented on #33
Fixed a bug, added same functionality to byFileAOP().

[2018-06-15 15:56] #33 closed

[2018-07-13 16:48] gklarenberg opened #36 "Naming of variable and validation file"
I wrote a loop (in R) to extract various data files from various locations (JERC, OSBS and DWNY in my case), and use the NEONutilities to put all the zip files together in one files. However, I am saving all the files in one folder associated with the location, and because the variable and validation files are named the same for every data product ("variable.csv" and "validation.csv"), they get ov

[2018-07-19 18:13] danielshulee opened #37 "getPackage() function not compatible with stackByTable()"
The zip files downloaded from getPackage() are not compatible with stackByTable(). It seems very odd to me that these two functions cannot be used in sync with each other, while zipsByProduct() and stackByTable() can be used together. For example, I used getPackage() to get 2D wind speed and direction (dpID = DP1.00001.001) in ABBY during the month '2018-01'. I then went on the NEON data browser a

[2018-07-23 15:00] cklunch commented on #37
@Danielslee51 We'll look into this, thanks for the heads up! zipsByProduct() and getPackage() were designed with different uses in mind - since getPackage() only downloads a single month for a single location at a time, we weren't necessarily thinking people would pass along data from it to stackByTable(). But you're right that for the sensor data, people may want to use stackByTable() to stack th

[2018-07-25 15:05] cklunch commented on #37
OK, we've determined that this is happening because of the way the folder structure is handled. Downloading a single zip file, as in getPackage(), results in a slightly different folder structure than downloading from the Portal or from zipsByProduct().

I'll keep this on our list of package improvements, but since getPackage() wasn't intended for file-stacking purposes, it's not a high priority f

[2018-09-10 00:08] Danielslee51 opened #38 "zipsByProduct: 'names' attribute [3] must be the same length as the vector [1]"
There seems to be an error that happens at random with the `zipsByProduct` function, where seemingly valid site and product combos return the error `'names' attribute [3] must be the same length as the vector [1]`. For example:
• "DP1.10020.001" with "HEAL"
• "DP1.00003.001" with "ABBY"
Not sure if this is related to the function, or the availability of the data products. If it is something about

[2018-09-13 15:47] cklunch commented on #38
Modified error messaging is merged to master.

[2018-09-13 15:47] #38 closed

[2018-10-17 19:35] matthewfeickert opened #43 "Add an interactive example with Binder"
It would be very cool if there was an interactive example of how to use `neonUtilities` with NEON's open data using the [IRkernel](https://github.com/IRkernel/IRkernel) and [Binder](https://mybinder.org/).

Binder is incredible, so I highly recommend learning more about it on their [docs](https://mybinder.readthedocs.io/en/latest/) (and maybe watching @betatim's [JupyterCon 2018 talk on it](https:

[2018-10-17 20:21] cklunch commented on #43
Agreed, this would be great! At the moment we're primarily limited by staff time, but we hope to start making interactive notebooks eventually. Thanks for the helpful links.

In the meantime, we do have non-interactive instructions and examples here: https://www.neonscience.org/neonDataStackR

[2018-10-19 02:08] matthewfeickert commented on #43
Just something that demos the API for the library with practical use case examples. So since the "[Use the neonUtilities Package to Access NEON Data](https://www.neonscience.org/neonDataStackR)" example exists just Binderizing that would probably be a good start (and then maybe doing some trivial visualizations and toy analysis).

Given that [it seems that the tutorial source is not on GitHub](htt

[2018-10-19 03:10] matthewfeickert commented on #43
Closing as migrated to [NEONScience/NEON-Data-Skills Issue #405](https://github.com/NEONScience/NEON-Data-Skills/issues/405).

[2018-10-19 03:10] #43 closed

[2019-01-21 17:50] Aariq opened #46 "stackByTable not working when folder = FALSE"
`stackByTable(here("data", "NEON", "NEON_count-small-mammals.zip"), folder = FALSE)` doesn't work:
[code]

But unzipping that folder and running `stackByTable(here("data", "NEON", "NEON_count-small-mammals"), folder = TRUE)` works.  I've also reproduced this problem without using the `here` package.

[code]

[2019-01-21 18:01] cklunch commented on #46
Thanks for the thorough documentation! This is a known issue with version 1.0.1, I'm close to releasing a new version but it isn't quite ready to go yet.

Can you confirm that if you install from GitHub, the bug is resolved?
`devtools::install_github("NEONScience/NEON-utilities/neonUtilities")`

Since I'm still doing testing on the new version, getting it tested by other folks who've run into the

[2019-01-22 20:13] Aariq commented on #46
Yup, that fixes it.  Thanks.

[2019-01-22 20:13] #46 closed

[2019-02-21 18:55] cflagg opened #47 "Undocumented File Deletion Behavior: stackByTable() deletes .R code files (and other files) if in same path"
stackByTable() will delete all files, including an .R/.Rmd file, if the executing file is in the same path specified by argument `savepath`. This is not intuitive or obvious behavior.

This is not documented anywhere in the [tutorial](https://www.neonscience.org/neonDataStackR) nor in the CRAN documentation i.e. the words "delete", "remove", and/or "discard" do not appear anywhere in the text.

##

[2019-03-05 01:13] cklunch commented on #47
@cflagg Thanks for the heads up about this! Now fixed on GitHub, hopefully released to CRAN shortly.

[2019-03-07 19:30] cklunch commented on #47
The fix is now on CRAN.

[2019-03-07 19:30] #47 closed

[2019-04-11 18:37] mjones01 opened #49 "Download data only when present at all of X sites"
This request originated from Erin Crandall.
It would be nice to have an option in zipsByProduct() and loadByProduct() where data was only downloaded/loaded if it was available from all the sites listed within a data range.  E.g. Between Jan 2013 and Dec 2018, only download data if X product is available from all of HARV|BART|CLBJ.

**Describe alternatives you've considered**
This is possible to do

[2019-04-12 15:33] mjones01 commented on #49
I'd actually misunderstood the original request which is about two different data products: Ability to query sites that have both of 2 different data products available. For example, I want data from all the sites that have fish data and stream geomorphology surveys done in an overlapping time range.  I want to see all the sites that have both types of data available and download only those.

[2019-04-12 16:10] cklunch commented on #49
Thanks for the suggestion! Building this into the download functions directly would be a bit cumbersome, but I can definitely make some enhancements to the catalog-querying functions to produce a clean summary of availability, which would give you the info you'd need.

[2019-05-06 23:29] cflagg opened #50 "Integrate geoNEON location info for sub-plot scale data products (as argument)"
Would be useful to offer the user an argument in GET functions for appending finer scale geo-location data e.g.

[code]

By calling the `geoNEON` (https://github.com/NEONScience/NEON-geolocation/tree/master/geoNEON/R) functions before returning a data.frame e.g.

[code]

[2019-08-01 16:36] stephparker opened #54 "Add UTF-8 encoding"
**Function**
loadByProduct

**Describe the bug**
Trying to load algae taxonomy data, special characters in scientificNames and other fields load with many messed up characters. Eric reproduced the issue as well.

**To Reproduce**
alg_allTabs <- loadByProduct(dpID = "DP1.20166.001",
  site = "all", package = "expanded",
  check.size = FALSE))
list2env(alg_allTabs,envir=.GlobalEnv)
see alg_taxonomyP

[2019-08-01 22:30] cklunch commented on #54
Thanks for the heads up! This is now fixed in the rhdf5-suggests branch.
@stephparker can you install the branch version and verify this is working? If you haven't installed from a branch before, it's like this:
[code]

[2019-08-01 23:00] stephparker commented on #54
@cklunch I loaded the branch but loadByProduct won't run.

Error in loadByProduct(dpID = "DP1.20166.001", site = "all", package = "expanded",  :
  could not find function "loadByProduct"

[2019-08-05 15:14] cklunch commented on #54
Resolved in neonUtilities v1.3.1.

[2019-08-05 15:14] #54 closed

[2019-08-14 17:56] keramsey opened #56 "neonUtilities Install Errors and Warnings"
**Function**
Which of the functions in the neonUtilities package is this bug found in?
no package called 'hms'

**Describe the bug**
I receive the following errors when attempting to install neonUtilities:
Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  there is no package called 'hms'
ERROR: lazy loading failed for package 'neonUtilities'
* removing 'C:/U

[2019-08-14 18:50] cklunch commented on #56
It looks to me like this is a problem with the paths on your machine. My best guess is that it's trying to install from a location other than CRAN, and can't find hms there. Try running `options()$repos` to see where the global option for repositories is pointing, and if it isn't CRAN, redirect it there.

[2019-08-14 19:13] keramsey commented on #56
Hi,

I edited the paths to remove my account name. I picked a CRAN
repository in Texas from with R.

I reran the install and picked the 0-cloud CRAN repository and I
receive the following output:

Installing package into
‘C:/Users/kramsey.JRN/Documents/R/win-library/3.4’
(as ‘lib’ is unspecified)
--- Please select a CRAN mirror for use in this session ---

  There is a binary version available but

[2019-08-14 20:37] cklunch commented on #56
Hmm. You may end up needing to update to R 3.6, but it also might be that the repos you're using arent fully up to date. Try this:
`install.packages("neonUtilities", repos="https://cran.rstudio.com/")`

[2019-08-14 21:33] keramsey commented on #56
I tried installing the hms package and received an error stating that a dependent package, vctrs, needed to be 0.2.0 or higher but the installed version was 0.1.0. I tried installing vctrs using type=source and it failed with errors. Perhaps, I need devtools? I used the cran.rstudio.com repository when installing the packages.

I then updated R from 3.4.0 to 3.6.1 and installed neonUtilities. It s

[2019-08-14 22:34] keramsey commented on #56
Updating to R 3.6.1 seems to have fixed my installation issues.

[2019-08-14 22:34] #56 closed

[2019-08-15 12:49] cklunch commented on #56
Great, glad to hear it!

[2019-09-02 19:33] tdlan80 opened #57 "StacyByTable cannot open the zip file"
**Function**
Which of the functions in the neonUtilities package is this bug found in?
StackByTable

**Describe the bug**
A clear and concise description of what the bug is.
I wanted to unzip the Photosynthetically Active Radiation (PAR) (DP1.00024.001) data to follow the NEON data tutorial. I downloaded the file and then ran the StackByTable function which keeps failing with the following error m

[2019-09-03 18:11] mjones01 commented on #57
@tdlan80  Thank you for bringing this up in the webinar today.  I am unable to replicate the error.
 Looking into this, I believe the issue may be with the file path you are using.  I'm assuming the "E" is the drive you have the data in, therefore, try:
stackByTable("E:/19_21141_Surasinghe/Bruce/Bridgewater/Research/NEON/NEON_par.zip")

[2019-09-03 19:08] tdlan80 commented on #57
I am pretty sure I tried that before (since I am not using the default home directory, I used the absolute path), let me give it a try again. I also called setwed to point to this as the working directory anyways.

[2019-09-04 16:27] cklunch commented on #57
@tdlan80 Is your computer auto-unzipping the downloaded file? Some Windows machines do that; if that's the situation, try:
`stackByTable("E:/19_21141_Surasinghe/Bruce/Bridgewater/Research/NEON/NEON_par", folder=T)`

[2019-09-05 16:25] tdlan80 commented on #57
Thank you for the feedback, the following script seems to work. stacking is taking longer since my data set is much larger.

library(neonUtilities)
neonUtilities::stackByTable(filepath ="E:/19_21141_Surasinghe/Bruce/Bridgewater/Research/NEON/NEON_par.zip", saveUnzippedFiles = T, dpID = DP1.00024.001)

[2019-09-05 16:25] #57 closed

[2019-09-16 19:45] MarconiS opened #58 "have DP1.30003.001 work with byTileAOP() function"
Hi,
thanks for working on this package! Right now it is possible to download point cloud data only for the entire site and not by tile. Despite DP1.30003.001 is indeed mosaic, it falls in the category of L1 products, and hence the function will not download them. I think it would be handy to have it unflagged and considered as DP3.

Best,
Sergio

[2019-09-16 20:12] cklunch commented on #58
@MarconiS Thanks for alerting me to this! I'll fix it in the next release.

[2019-10-04 21:35] cklunch commented on #58
This is fixed on GitHub, if you install from here it should work fine! I have several other updates I want to make in the next release, so I'll leave this issue open until I do the next CRAN submission.

[2019-10-04 22:43] cklunch commented on #34
A while back we changed the way table_types is stored in the package, and I'm no longer able to replicate this bug, so I think this is resolved!

[2019-10-04 22:43] #34 closed

[2019-10-05 21:13] MarconiS commented on #58
This is awesome! I’ll go ahead and include a function in a package I am working on to retrieve AOP data at TOS plot level. Let me know if at any point it can be useful for you to chat and see if you want to integrate them in NEON-utilities :)

Thanks!

On Oct 4, 2019, at 5:36 PM, Claire Lunch <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL EMAIL: Exercise caution with

[2019-10-07 17:50] NateMietk opened #60 "stackByTable reading wrong dpID"
**Function**
stackByTable

**Describe the bug**
Following the tutorial https://www.neonscience.org/get-started-neon-series > Stack the downloaded data files: stackByTable() and using the 3 most recent records from the NIWO site in the PAR dataset (DP1.00024.001) I am generating the error:

[code]

In this example the code is selecting the wrong string as the dpID value.

If I then hard code the dp

[2019-10-20 18:23] mbjoseph opened #61 "Avoid downloading files that exist with byTileAOP?"
**Is your feature request related to a problem? Please describe.**

Currently `byTileAOP`, downloads files that exist already. It might be nice to add an `overwrite` argument that defaults to the current behavior (`overwrite = TRUE`), but allows users to skip downloads for files that already exist using `overwrite = FALSE`.

**Describe the solution you'd like**

I'd propose adding an `overwrite` a

[2019-10-20 18:56] cklunch commented on #61
@mbjoseph Looking at your code, if I'm understanding right, I think there's an easy solution, and I just need to improve the documentation. `byTileAOP` can take vector inputs for `easting` and `northing`. It will assume the vectors line up (ie, `easting[1]` and `northing[1]` are a desired pair of coordinates), but that should be accurate. So you can just skip the for loop, and the function will co

[2019-10-20 19:05] mbjoseph commented on #61
Oh -- nice! Nevermind then. I didn't realize you could pass a vector of
coordinates.

On Sun, Oct 20, 2019, 11:56 AM Claire Lunch <notifications@github.com>
wrote:

[2019-10-20 19:19] cklunch commented on #61
No problem, glad to hear this solves this issue!

[2019-10-20 19:19] #61 closed

[2019-10-25 20:26] atkinsjeff opened #62 "query by domain in zipsByProduct"
Question raised by student while at EXPLORE NEON workshop.... is it possible to add the feature that `zipsByProduct()` and related functions could include a `domain =` in addition to the `site =`?

This would allow someone to pull say all the leaf area data for D01.

--jeff

[2019-10-27 20:10] cklunch commented on #62
@atkinsjeff Thanks for the suggestion! We could add this, but for now I'd recommend just using the multi-site input option, so `site=c('BART','HARV')`

[2019-11-27 20:55] cklunch commented on #60
dpID is no longer a required input for stackByTable, it is included only for back compatibility. Including it in the function call makes no difference.

I have never been able to replicate this error.

However, this is apparently fixed in the new release, without any detected side effects.

[2019-11-27 20:55] #60 closed

[2019-12-05 16:41] cklunch commented on #58
@MarconiS This is fixed in version 1.3.2, now released on CRAN. Thanks!

[2019-12-05 16:41] #58 closed

[2019-12-09 23:20] rfiorella opened #67 "loadByProduct bug introduced between 1.3.2 and 1.3.0."
**Function**
loadByProduct

**Describe the bug**
Requesting data with loadByProduct fails in neonUtilities 1.3.2, but not 1.3.0.

**To Reproduce**
calling loadByProduct("DP1.00098.001",site="HARV",startdate="2017-01",avg=30,check.size=F) fails in 1.3.2 with an Error in file(file,"rt"): invalid 'description' argument after upgrading to neonUtilities 1.3.2.

The error disappears after downgrading to

[2019-12-10 05:36] cklunch commented on #67
@rfiorella Thanks for alerting us to this!

I was able to replicate the problem on my machine, it's an error in handling the `avg=` argument with the new code that retains the readme files when stacking data. I should be able to fix it without too much trouble. In the meantime, either using v1.3.1 or downloading all averaging intervals with v1.3.2 should be fine.

I'll comment again when I have a

[2019-12-10 16:29] daijiang opened #68 "Error in getting averaged sensor data"
When I tried to use the package to get photosynthesis active radiation data, it does not work when both date and average interval were specified. Here are my codes:

[code]

Output:

[code]

It worked for v1.3.1; but not the latest v.1.3.2. So likely this bug was introduced after the recent update.

[2019-12-10 16:31] daijiang commented on #68
Just saw the recent issue #67

[2019-12-10 17:07] rfiorella commented on #67
Thanks @cklunch! Let me know if there's anything I can do to help - I've kept the downgraded version for now.

[2019-12-11 00:49] cklunch commented on #68
@daijiang Yep, watch #67 for the resolution. Sorry about this problem!

[2019-12-11 00:49] #68 closed

[2019-12-21 01:25] cklunch commented on #67
@rfiorella @daijiang
This is now fixed on GitHub! I'm planning to send a new version to CRAN in early January, but for now you can install v1.3.3 from here and it should work fine with `avg=`. I'll leave this issue open until the fix is on CRAN.
Let us know if you run into any other problems!

[2020-01-08 18:39] cklunch commented on #36
Updated in neonUtilities v1.3.3 - variables, validation, readme, and sensor_positions files now have the data product number appended to the file name, e.g. variables_10098.

[2020-01-08 18:39] #36 closed

[2020-01-08 18:40] cklunch commented on #67
@rfiorella @daijiang
neonUtilities v1.3.3 is now on CRAN and this problem should be resolved. Let me know if you run into any problems with it!

[2020-01-08 18:40] #67 closed

[2020-01-11 05:48] mbjoseph opened #69 "Potential for infinite loops in byTileAOP"
**Function**

byTileAOP

**Describe the bug**

I'm running into an infinite loop when data downloads result in errors. I believe this may be due to this while loop: https://github.com/NEONScience/NEON-utilities/blob/master/neonUtilities/R/byTileAOP.R#L242-L261

If the data download always results in an error, there is no way to exit the while loop.

**To Reproduce**

[code]

[code]
and so on.

**E

[2020-01-11 17:04] cklunch commented on #69
@mbjoseph
Thanks for letting us know about this! I think you've correctly diagnosed the source of the problem, it shouldn't be hard to fix.

Usually this wouldn't be happening, because the download functions check against data availability before trying to download anything, but we've been having some odd errors recently with inconsistency between actual and reported availability. Hopefully those

[2020-01-21 00:33] NateMietk opened #72 "All folders are deleted during cleanBy"
All folders during the cleanBy function are deleted, regardless if they are custom folders.   This needs to be updated such that only folders generated by the unzipping are deleted.

[2020-01-21 16:35] NateMietk opened #73 "Add citation generator"
Request the the Data Standards Technical Working group.

- Add text in neonUtilities package after user kicks off stackByTable that is a disclaimer to cite the data, and how to properly cite the data.

- Create a function within all data downloading functions to collect information on the data used to populate a bib text file that will allow users to easily add to a citation manager.

As a startin

[2020-01-23 17:27] cklunch commented on #72
@NateMietk When you're working on this one, can you also look into making the deletion work correctly with the avg= parameter? Right now it doesn't delete if you specify an averaging interval.

[2020-01-26 21:19] KathleenRuth opened #74 "Wrong 'vctrs' version loading with neonUtilities"
I've used neonUtilities many times but started having this error message last night about the wrong vctr version loading.

Installing package into ‘C:/Users/Katie's Computer/Documents/R/win-library/3.6’
(as ‘lib’ is unspecified)
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.6/neonUtilities_1.3.3.zip'
Content type 'application/zip' length 293618 bytes (286 KB)
downloaded 286 KB

packag

[2020-01-27 02:00] cklunch commented on #74
@KathleenRuth
This looks like it's just an out of date package locally. Try updating or reinstalling vctrs on your machine, then start a new R session and try to load the neonUtilities library again.

[2020-01-30 22:55] mbjoseph opened #75 "Hanging downloads in byFileAOP?"
**Function**

`byFileAOP`

**Describe the bug**

The `byFileAOP` function will hang if a file download hangs.

**To Reproduce**

I discovered this while trying to get some leaf area index mosaic data over Niwot Ridge:

[code]

For me, this downloads about 14% of the files, and then hangs.

**Expected behavior**

I expected all the files to download, rather than getting stuck with a subset of the f

[2020-01-30 23:08] cklunch commented on #75
@mbjoseph Thanks for the alert! I get the same behavior, including the halt at 14%, which makes me think it's a specific file that's causing the problem. But the function should be robust to that, at first glance I don't understand why it's hanging there. We'll get back to you soon.

[2020-01-30 23:22] cklunch opened #76 "Handle DP1.30012.001 correctly"
DP1.30012.001 is an AOP product processed and published by the OS pipeline. It should be downloaded by loadByProduct() or zipsByProduct(). Currently, lBP and zBP error out because it's an AOP product, and byFileAOP() and byTileAOP() *don't* error out, but should.

Enable DP1.30012.001 download by loadByProduct() or zipsByProduct(), and add error handling to byTileAOP() and byFileAOP() to stop and

[2020-01-31 16:44] cklunch commented on #74
@KathleenRuth
Were you able to resolve this, or is it still causing problems?

[2020-02-06 18:41] cklunch opened #77 "Water quality DP1.20288.001 bug when used with avg="
Fix error handling when downloading water quality (DP1.20288.001) and attempting to filter by averaging interval. Previous bug fix changed the weird behavior in this scenario, but didn't fix it.

[2020-02-06 18:48] cklunch opened #78 "byTileAOP() can't find tiles under other site names or UTM zones"
Two scenarios:
(1) Sites that are flown in a single flight box only get one site's name, e.g. TREE is flown under STEI, SUGG and BARC under OSBS, etc.
(2) A few sites have TOS plots in multiple UTM zones. AOP uses a single zone for everything they fly, TOS uses the local zone on the ground.

byTileAOP() should be robust to both of these. (1) affects byFileAOP() as well. Fix will require a dataset

[2020-02-08 21:57] KathleenRuth commented on #74
@cklunch I resolved it thank you for your help

[2020-02-08 21:57] #74 closed

[2020-02-08 22:07] KathleenRuth opened #79 "Joining phenology data objects"
I'm continually receiving an error about date objects while cleaning up phenology data for data product DP1.10055.001

I'm following the phenology/temperature tutorial
https://www.neonscience.org/osis-pheno-temp-series
the tutorial has been smooth up until this point with this data product. And I converted the columns to date classes...

Thank you for any help or suggestions

see code below:

+

[2020-02-10 15:53] cklunch commented on #79
@KathleenRuth Yes, we've had some issues with that particular tutorial staying up to date as data products have updated. It's not a neonUtilities issue, I think it has to do with naming and formatting in the phenology data product.

@mjones01 I think this one already has a fix in progress?

[2020-02-10 16:38] mjones01 commented on #79
@KathleenRuth  - Unfortunately we're currently having a website issue where our tutorials edits in GitHub aren't syncing to the NEON website. Our website team is working to fix the issue.
 @cklunch is correct that this is an error with the current version of the tutorial and not with neonUtilities. You can see the most recent version of the .RMD on my GitHub fork and it will be posted to the websi

[2020-02-12 21:45] cklunch commented on #75
@mbjoseph I'm no longer able to replicate this, neither is @NateMietk . Can you give it another try and let us know if it's working on your end now?

[2020-02-12 21:54] mbjoseph commented on #75
Same here @cklunch - I get the expected behavior now. Thanks for checking in on this!

[2020-02-12 21:59] cklunch commented on #75
@mbjoseph Glad to hear it's resolved! I'll leave this issue open for now, in case it happens again. My best guess is that it was related to some issues we were having with the caches, but that's just a guess.

[2020-02-12 22:50] NateMietk commented on #32
@cklunch @chrlaney  This behavior is no longer happening, but I am reluctant to close just yet.  Should we move one of the EML files to the stakedFiles folder, similar to how we are treating readme and external lab documents?

[2020-02-13 21:57] cklunch commented on #72
This is now resolved on GitHub. Issue will be closed after the next CRAN release.

[2020-02-20 20:26] KathleenRuth commented on #79
@mjones01 Thank you for the help. Is there an area within the tutorials github where I can submit further questions?

[2020-02-20 20:40] mjones01 commented on #79
@KathleenRuth You can use the Issues in the NEONScience/NEON-Data-Skills repo: https://github.com/NEONScience/NEON-Data-Skills

[2020-03-02 21:21] #79 closed

[2020-03-02 21:23] cklunch commented on #69
@mbjoseph This is now resolved on GitHub. We've also refreshed AOP availability, so the underlying problem in the API that was leading to this situation is also resolved. I'll close the issue once the new release goes to CRAN, we're planning on ~end of this month.

[2020-03-11 19:35] cklunch commented on #78
3rd scenario: if R converts a tile coordinate to scientific notation, the string matching to the file names fails. Appears to be happening in cases with many 0's, e.g. easting=300000. Need to prevent this.

[2020-03-19 20:01] rfiorella opened #86 "Data cannot always be uniquely tied to the sensor that collected them in loadByProduct"
Not a bug in the code per se, but likely an instance of unintended/unexpected behavior due to a "bug" in the data.

**Function**

loadByProduct

**Describe the bug**
Data.frames returned by loadByProduct are occasionally insufficient to connect observations to the sensors that made them (e.g., occurs when there is more than one sensor with the same horizontalPosition and verticalPosition values)

[2020-03-19 21:31] cklunch commented on #86
@rfiorella
If I'm understanding correctly, I think this is about how to interpret the sensor_positions file. There are two entries in sensor_positions_00040 for ORNL HOR.VER=005.501, but they aren't two separate sensors. The first entry has an end date in Sept 2017, which is the start date of the second entry. So this is indicating that in 2017 we moved the soil heat flux plate.

We're always work

[2020-03-19 23:01] rfiorella commented on #86
Ah, you're correct! Didn't see the 'end' before, but this change is clear now.

Thanks @cklunch!

[2020-04-02 22:47] cklunch commented on #78
Scenarios 2 and 3 are now fixed on GitHub.

[2020-04-09 22:32] cklunch commented on #78
Scenario 1 now fixed on GitHub.

[2020-04-10 14:04] vlahm opened #87 "stackByTable fails to accumulate data for some site-month-products"
**Function**
stackByTable (and loadByProduct, which calls it)

**Describe the bug**
Only the sensor positions dataset is properly extracted from the zip files. This error prevents other datasets from properly writing:

Error in data.table::fwrite(stackedDf, paste0(folder, "/stackedFiles/",  :
  is.list(x) is not TRUE

**To Reproduce**
[code]

(or run zipsByProduct followed by stackByTable)

**Expe

[2020-04-10 14:56] cklunch commented on #87
@vlahm Thanks for letting us know about this!
I was able to replicate the problem, it's because of an out-of-date file naming on the product-site-months in question. I had thought we updated everything, but apparently there are a few with the old format still hanging around.

I should be able to fix this on GitHub today, and we're planning to submit a new version of neonUtilities to CRAN in the ne

[2020-04-10 16:54] sokole opened #88 "loadByProduct() returns incorrect encoding for Algae taxa, probably other taxonomic groups as well"
**Function**
loadByProduct

**Describe the bug**
When algae data with taxonomy are downloaded this way, scientificNames with non-standard characters have the incorrect encoding. For example, in alg_taxonomyProcessed, when the taxonID 'NEONDREX6001' is returned in the data set, the scientificName should be "Amphipleura pellucida (Kützing) Kützing", but the function returns "Amphipleura pellucida (K

[2020-04-10 16:55] sokole commented on #88
I can try to tackle this soonish. Mainly posting here to document the issue.

[2020-04-10 20:21] cklunch commented on #87
@vlahm
This is now fixed in the version of neonUtilities on GitHub. I'll close this issue once the new version is on CRAN. Thanks again for the alert!

[2020-04-10 20:39] cklunch commented on #88
Thanks @sokole ! This was an easy fix in readTableNEON(), fixed on GitHub now.

[2020-04-16 17:51] jcoloso opened #89 "loadByProduct() fails while stacking for DP1.20093.001"
**Function**
loadByProduct, stackByTable

**Describe the bug**
It downloads the data but crashes while stacking table swc_externalLabDataByAnalyte with the error:
"Error in if (tbltype == "site-all") { : argument is of length zero"

**To Reproduce**
`loadByProduct(dpID=dpid,site=c('POSE','LEWI'),startdate='2017-01',enddate='2019-01',check.size=FALSE)`

**Expected behavior**
function should downloa

[2020-04-16 18:19] cklunch commented on #89
@jcoloso This happens occasionally when a data product is modified, so the metadata about the product are out of sync with the database. Usually it involves a new table getting added to a product, but other changes can cause it as well. Water chemistry is getting a new table, so it's temporarily mismatched.

This is fixed in version 1.3.4, which is currently only available on GitHub. We're plannin

[2020-05-04 14:32] cklunch commented on #69
This fix is now on CRAN.

[2020-05-04 14:32] #69 closed

[2020-05-04 14:32] cklunch commented on #72
This change is now on CRAN.

[2020-05-04 14:32] #72 closed

[2020-05-04 14:36] cklunch commented on #76
Fix for this is now on CRAN.

[2020-05-04 14:36] #76 closed

[2020-05-04 14:37] cklunch commented on #77
Fix for this is now on CRAN.

[2020-05-04 14:37] #77 closed

[2020-05-04 14:37] cklunch commented on #78
These changes are now on CRAN.

[2020-05-04 14:37] #78 closed

[2020-05-04 14:38] cklunch commented on #87
@vlahm
This fix is now live on CRAN. Let us know if you run into any other problems!

[2020-05-04 14:38] #87 closed

[2020-05-04 14:39] cklunch commented on #88
This fix is now on CRAN.

[2020-05-04 14:39] #88 closed

[2020-05-04 14:43] cklunch commented on #89
@jcoloso v1.3.4 is now live on CRAN, DP1.20093.001 will stack correctly.

[2020-05-04 14:43] #89 closed

[2020-05-04 14:43] #86 closed

[2020-05-23 20:52] kevstyers opened #91 "Delete stackByTable's temp folder after stacking is complete"
**Is your feature request related to a problem? Please describe.**
An issue I've run into downloading data from the `neonUtilities::loadByProduct()` function is that the temp folder (Linux/Windows) fills up and causes disk space issues. It did take me some time to identify why this was happening but eventually I figured out that when I download data from NEON in R, the zipped folders were still li

[2020-05-24 02:29] cklunch commented on #91
@kevstyers Thanks, I'll look into this. Deleting the temporary files is the intended behavior, and loadByProduct() is set up to do that, but you're the second user I've heard from recently that it doesn't seem to be working correctly. It may be a Windows-related issue, and/or may be due to changes in the most recent versions of R. It should be an easy fix, I'll post an update soon.

[2020-05-25 18:44] vlahm opened #92 "Mutiple referenceElevations listed for the same sensor ID (HOR.VER) at the same time"
**Function**
LoadByProduct

**Describe the bug**
Depending on the sitemonth requested, different (conflicting) sensor position data is returned.

**To Reproduce**
[code]

[2020-05-26 13:42] cklunch commented on #92
@vlahm This can sometimes happen in cases where we've discovered location data were in error, and we've had to update the database. It's different from the situation where a sensor actually moved, those changes are tracked in the start and end dates. In this case the locations were corrected in between processing of the 2020-02 and 2020-03 data.

loadByProduct() does try to handle this, by retaini

[2020-05-26 21:21] cklunch commented on #91
@kevstyers This is now fixed on GitHub. I'll be sending the new version to CRAN within the next week, and I'll close this issue when the new version is live. Thanks!

[2020-05-26 21:40] vlahm commented on #92
This makes sense. Thank you!

[2020-05-26 21:40] #92 closed

[2020-06-26 23:14] lstanish opened #93 "zipsByURI not unzipping with new raw DNA sequence file format"
**Function**
zipsByURI()

**Describe the bug**
The function only looks for .tar.gz sequence files, however the newly formatted per sample files are in the .gz format, which is not compatible with the script as written.

When I add a code chunk to the existing function, I can successfully download raw sequence files in either the .tar.gz or .gz compressed formats. After Line 123 (the .tar.gz code c

[2020-07-02 23:53] WynneMoss opened #94 "loadByProduct error when requesting Tick data at all sites (DP1.10093.001)"
**Function**
loadByProduct; data product DP1.10093.001

**Describe the bug**
Using loadByProduct to download Tick data (DP1.10093.001) results in an error when trying to download all sites. The error seems to occur after stacking, as it reports that stacking finished.

The error is:

The error does not occur when downloading only a subset of sites, or downloading all sites of other data products.

[2020-07-04 21:25] eshrh opened #95 "getReadmePublicationDate seems to output many duplicates of each readme"
**Function**
Which of the functions in the neonUtilities package is this bug found in?
stackByTable/getReadmePublicationDate

**Describe the bug**
The stacked readme file contains several duplicate rows of each instance of a readme checked.

**To Reproduce**
Download tick data, DP1.10093.001, over a time range: say 2016-01-01 to 2019-31-1 from OSBS. The readme file, in the post-stacking section, c

[2020-07-06 12:42] cklunch commented on #94
@WynneMoss Yep, this is an error in version 1.3.5. It happens when a large number of site by month files are stacked - I haven't determined the exact number, but I think somewhere around 500-600 site-months.

It's fixed in the version currently on GitHub. I still have several other updates to make before I send 1.3.6 to CRAN, but for now you can install from here to get around this bug. I'll comme

[2020-07-06 12:48] cklunch commented on #95
@eshrh Thanks for the heads up. @NateMietk Can you look into this?

[2020-07-06 15:09] NateMietk commented on #95
@cklunch yup - I can look into this Wednesday or Thursday.

[2020-07-06 15:52] WynneMoss commented on #94
Thanks @cklunch! Github version of the function is working.

[2020-07-06 23:11] cklunch commented on #91
@kevstyers Apologies, I forgot to come back to close this out. The fix is on CRAN. However, it turned out this bug had been blocking a different bug, which is now in play. If you download too many site-months (>500-600ish), the code that deletes the temporary files chokes. This is the problem referenced in #94

It's avoidable by downloading smaller batches of data, or you can install the version c

[2020-07-06 23:11] #91 closed

[2020-07-14 00:16] cklunch commented on #95
@eshrh This is now fixed on GitHub, thanks @NateMietk ! We'll close the issue when the fix is on CRAN.

[2020-07-14 20:49] cklunch commented on #93
@lstanish This is now fixed on GitHub, I think. I had to modify your regex a little bit, and I updated some other parts of the function as well, unrelated to the fastq files. I tested with DP1.10108.001 CPER data. Can you test as well, and let me know if it works as expected?

@kcawley Can you also test, and check if zipsByURI() still works as expected for your files as well?

Thanks!

[2020-07-17 17:45] lstanish commented on #93
@cklunch Awesome, thanks! I tested with 2 CPER files in .fastq.gz format and got the following error:
<img width="845" alt="Screen Shot 2020-07-17 at 11 37 17 AM" src="https://user-images.githubusercontent.com/9853245/87815295-9277f600-c822-11ea-892d-bd4feea6ca7c.png">

Looks like the error is originating from line 181. If you switched my code above from R.utils::gunzip to utils::unzip, that might

[2020-07-17 23:05] cklunch commented on #93
@lstanish OK, I was able to replicate this and I've pushed an updated version that works on my machine. I was really hoping to avoid making neonUtilities dependent on yet another package, but wasn't able to find an unzipping option outside of R.utils. Since this is the only thing it's used for, I've put R.utils in Suggests instead of Imports, so keep in mind it won't be installed by default when p

[2020-07-21 23:57] lstanish commented on #93
@cklunch OK, I tested downloading some data in the new format and the old format, and both worked as expected! Bummer that this required another dependency. It's too bad that utils can't unzip .gz files.

[2020-07-29 18:01] cklunch commented on #93
@lstanish Fix is now on CRAN!

[2020-07-29 18:01] #93 closed

[2020-07-29 18:03] cklunch commented on #94
@WynneMoss Fixed version (1.3.6) is up on CRAN now. Thanks!

[2020-07-29 18:03] #94 closed

[2020-07-29 18:03] cklunch commented on #95
@eshrh This fix is now live on CRAN, thanks for letting us know about it!

[2020-07-29 18:03] #95 closed

[2020-07-29 18:04] #1 closed

[2020-07-29 18:06] cklunch commented on #25
This change was implemented in v1.3.4.

[2020-07-29 18:06] #25 closed

[2020-08-03 18:51] cklunch opened #98 "regularize raster orientation in footRaster"
**Function**
Which of the functions in the neonUtilities package is this bug found in?

`footRaster()`

**Describe the bug**
A clear and concise description of what the bug is.

The orientation of the output raster depends on the date of data publication (internal change in eddy4R processing) and on the version of R (4.0 handles orientation differently from 3.x versions).

Need to add checks to fu

[2020-08-03 18:55] cklunch opened #99 "add stackByTable option to use neonstore archive"
**Describe the solution you'd like**

neonstore is a package in development to provide provenance tracking of downloaded NEON files. It would be helpful to have a stacking option that pulls from the archived store of files, leaving them intact.

**Describe alternatives you've considered**

neonstore currently has its own stacking function, but it's missing some of the features available in neonUti

[2020-08-18 23:22] cklunch opened #100 "stackByTable() failure on some sensors"
**Function**
stackByTable()

**Describe the bug**
Data stacking fails with message `Error in data.table::rbindlist(pbapply::pblapply(as.list(uniqueSites),  :
  Class attribute on column 6 of item 3 does not match with column 6 of item 1.` or similar.

**To Reproduce**
DP1.20016.001 when downloaded for all sites; other data products affected as well.

**Expected behavior**
Data stacking should proc

[2020-08-18 23:25] cklunch commented on #100
This is happening due to inconsistencies when data.table.fread() reads in sensor_positions files for sensor locations that have moved - the end dates are read in as a mix of date, character, and logical. data.table::rbindlist() then refuses to stack them, since the classes don't match.

Fixed on GitHub (v1.3.7). If using version 1.3.6, this problem can be avoided by only stacking data from one sit

[2020-08-21 17:13] todolist-larrieu opened #101 "loadByProduct and stackByTable"
**Function**
loadByProduct and stackByTable

**Describe the bug**

Requesting data using either stackByTable or loadByProduct resorts in this error

"Error in file(file, "rt") : invalid 'description' argument"

**To Reproduce**
<- loadByProduct(dpID = 'DP1.10092.001', site = 'KONZ', startdate = '2015-01-01', enddate = '2019-12-31', check.size=FALSE)

stackByTable("NEON_pathogens-tick.zip")

**Expe

[2020-08-23 19:24] cklunch commented on #101
@todolist-larrieu Thanks for the alert! This is now fixed on GitHub, I'll close this issue once the next version goes to CRAN. In the meantime, you can either install the development version of neonUtilities from here, or modify your download to include a little more data - this turned out to be a fairly unlikely bug to hit, and in this case it wouldn't happen if another site was added to the down

[2020-09-28 16:53] cklunch commented on #101
@todolist-larrieu This is fixed in v1.3.7, now on CRAN.

[2020-09-28 16:53] #101 closed

[2020-09-28 16:55] cklunch commented on #100
@kcawley This is fixed in v1.3.7, now on CRAN. Will keep a close eye on data.table package class assignment.

[2020-09-28 16:55] #100 closed

[2020-10-05 18:01] lstanish opened #103 "Allow zipsByUri() to accept R objects as input"
Currently, the zipsByUri() function takes in NEON data tables that are downloaded and merged using stackByTable(). However, for an automated data processing workflow it is preferable to be able to use the R objects created by loadByProduct() as inputs to zipsByUri() rather than having to download the files.

For a current project, we are designing the workflow to use loadByProduct() to create loca

[2020-10-26 23:34] rfiorella opened #104 "stackEddy fails when folder contains .gz files"
**Function**
stackEddy

**Describe the bug**
NEON has started gzipping the EC files available through the API - if a user downloads a zip file from the API using zipsByProduct, for example, stackEddy will crash if the unzipped archive contains .h5.gz files instead of .h5 files.

**To Reproduce**
zipsByProduct("DP4.00200.001", site = "ONAQ",
              startdate = "2019-01-01",
              end

[2020-10-27 13:37] cklunch commented on #104
@rfiorella Thanks for the alert about this! It should be an easy fix, thanks for sharing the code on your fork. There are some other pending changes to stackEddy() in the stack-from-store branch (which isn't fully functional yet), so I just need to decide the best way to integrate this fix. I'll let you know.

[2020-10-27 19:14] rfiorella commented on #104
No problem @cklunch! There's an additional issue that also comes up that's a little more difficult to fix from the user side: current zip files will often contain multiple versions of EC data for a given site and month (e.g., HARV in 2019 has 3 versions of the monthly basic file with different processing dates wrapped up in the zip file).

I think it would be pretty straightforward to look for 'du

[2020-10-27 19:27] cklunch commented on #104
@rfiorella Yeah, the duplicate files are a known issue, the cyberinfrastructure team is working on fixing it. So in theory, it will be fixed and become a non-issue soon, but you make a good point that it could also be handled pretty easily in the stacking code. I'll take a look at doing that along with the other code changes.

[2020-10-27 21:28] libonancaesar commented on #104
I found the similar error while using "stackEddy()" function.
![Uploading image.png…]()

[2020-10-28 00:02] cklunch commented on #104
@rfiorella @libonancaesar
Fix is in on the stack-from-store branch. Other functions aren't ready to go on that branch, but the stackEddy() function there is handling the .gz files and the duplicate files. I'm hoping to be able to merge the branch in later this week.

cc @cflorian1

[2020-10-28 00:35] rfiorella commented on #104
@cklunch Great, thanks! I'll checkout the stack-from-store branch and test it out.

[2020-10-28 13:38] cklunch commented on #104
@rfiorella There was a bug in the duplicate file handling, now fixed.

[2020-10-28 17:42] rfiorella commented on #104
@cklunch can confirm that stackEddy now runs in the cases where it did not previously, and only stacks one file per month. however, it seems to be picking the oldest file instead of the newest where there are duplicates - based on your comments yesterday though, not sure this is worth fixing if CI is already working on a fix for the duplicates.

[2020-10-28 18:07] cflorian1 commented on #104
@rfiorella @cklunch

I'll know what the plan is for fixing the duplicate files after a 1pm meeting today, I can report back in a couple hours.

[2020-10-28 22:23] cflorian1 commented on #104
@rfiorella @cklunch

Sounds like this is a bug, CI had a working solution when it was tested at the start of reprocessing. I hope it will be an easy fix but don't have any information about timeline yet.

[2020-11-05 21:36] cklunch commented on #104
@rfiorella @cflorian1  These changes are now merged to master. I have 3 more changes to make to the package before I send to CRAN, but they're fairly simple, hoping to knock those out in the next day or two.

[2020-11-05 22:15] cflorian1 commented on #104
@cklunch @rfiorella Great, thanks! FYI this should be resolved on the data portal side pretty soon.

Turns out the h5.gz extension broke the script that removes old versions of a file from the portal because it changed the position of the timestamp in the file name.

[2020-11-06 20:55] rfiorella commented on #104
Thanks @cflorian1!

[2020-11-11 14:30] cklunch commented on #104
@rfiorella @cflorian1 v1.3.8 is at CRAN now.

[2020-11-11 14:30] #104 closed

[2020-11-11 14:31] cklunch commented on #99
stackFromStore() included in v1.3.8, now on CRAN. Instructional materials for using it still needed.

[2020-11-11 14:31] #99 closed

[2020-11-20 19:23] srweintraub opened #106 "possible bug in getDatatable(), full table not downloading"
**Function**
getDatatable()

**Describe the bug**
A user reports that this function is returning inconsistent numbers of records for the sls_soilChemistry table, even when she runs it back to back. I was not able to reproduce this, but Eric was. The user confirms that she has updated to the latest version of neonUtilities.

**To Reproduce**
sls_soilChem <- getDatatable(dpid = "DP1.10086.001", data

[2020-11-20 19:24] srweintraub commented on #106
@sokole looks like you may have to assign this one to yourself. let me know what you find so I can circle back with this end user.

[2020-11-20 21:17] cklunch commented on #106
@srweintraub @sokole Thanks for the heads up, this is almost certainly an API rate limit problem. getDatatable() isn't in heavy use, if she's definitely on version 1.3.8 then apparently the rate limit fix isn't fully working there.

For now, using loadByProduct() instead will solve the problem. I'm debating how to handle access to a single table at a time in version 2.0 - I worry about users downl

[2020-11-20 21:25] srweintraub commented on #106
@cklunch Right, I did mention to her that loadByProduct() should not have the same issues, so that's fine for now. This is an unanticipated (to me at least) downside of the bundling. Let's say you just want to know which soil samples have C/N data, because you want to go pull the microbe data for those samples (like this end user). Having to download everything that's part of 10086 is a pain, it w

[2020-11-20 21:39] cklunch commented on #106
@srweintraub The demand clearly exists, it just makes me nervous. Since we have a major package revision looming anyway, I'm thinking about better ways to constrain it and/or loop it in to the other package functions. I'll keep you posted.

[2021-01-07 21:06] jcoloso opened #108 "download specific table(s) with loadByProduct rather than all tables"
I'm using `loadByProduct` to download surface water chemistry data (DP1.20093.001), but it is quite slow. I'm only using the swc_domainLabData table and was hoping there could be a way to get just that table without first having to download and stack all the tables.

[2021-01-08 00:13] cklunch commented on #108
@jcoloso This is currently in getDatatable(), and will be moved to loadByProduct() in neonUtilities 2.0. See #106 for current issues in getDatatable().

[2021-01-08 01:14] jcoloso commented on #108
Great! I forgot about getDatatable() as I'm so used to using loadByProduct(). I'll give it a try. I'm looking forward for that functionality to be added to loadByProduct().

[2021-01-08 01:14] #108 closed

[2021-01-27 21:17] cklunch commented on #106
neonUtilities 2.0.0 is now on CRAN, and this issue is resolved - getDatatable() is deprecated, and the functionality to download by table is available, with a warning, in loadByProduct().

[2021-01-27 21:17] #106 closed

[2021-01-30 12:29] annakat opened #110 "Select release in zipsByProduct()"
With the recent NEON data release I was wondering if it would make sense to add the selection of a particular release to zipsByProduct(). Currently zipsByProduct () downloads released and provisional data. stackByTable() could also use this option. Thanks!

[2021-01-30 12:51] annakat opened #111 "stackByTable("..zip") can't find DP code"
Just downloaded the 'Plant presence and percent cover data' DP1.10058.001, release 2021 from the data portal stackByTable gives me the following error.

`stackByTable(filepath="./orig_data/NEON_presence-cover-plant.zip", saveUnzippedFiles = F)`

[code]

Unzipping the data locally and `stackByTable(filepath="./orig_data/NEON_presence-cover-plant/", saveUnzippedFiles = F)` works just fine.

[2021-02-01 00:06] cklunch commented on #111
@annakat Yep, this is a known issue, described here: https://www.neonscience.org/impact/observatory-blog/known-issues-neonutilities-200
Sorry for the bug! It's fixed in the development version of neonUtilities 2.0.1 here on GitHub, but you can also work around it for now, like you found. I'll post again here when 2.0.1 goes to CRAN.

[2021-02-17 20:53] rfiorella opened #112 "merge issue on stack eddy when using level = dp01"
**Function**
stackEddy

**Describe the bug**
Returned data frames in output list have a problem with the time variables timeBgn and timeEnd, possibly because it is trying to merge across measurement systems (e.g., the isoH2o and isoCo2 systems). Where it occurs, timeEnd is NA, and the actual observation data is split between rows that have a complete set of (timeBgn, timeEnd) values, and those tha

[2021-02-17 21:12] cklunch commented on #112
@rfiorella Thanks Rich! I'll take a look, but this isn't too surprising, getting the join to work correctly in the dp01 data has always been very finicky. I'm planning to send v2.0.1 to CRAN within the next couple of weeks, and I should be able to include this.

[2021-02-27 01:07] cklunch commented on #112
@rfiorella Thanks again for pointing this out. @cflorian1 and I looked into it, and it's a little deeper than I thought. There are two separate issues:
1) If a sensor isn't delivering data, a single empty record per day is reported. I've updated stackEddy() to remove these filler records, but I don't think this is the issue you were focused on.
2) Something is up with the timestamps on the 9-minut

[2021-03-04 17:32] rfiorella commented on #112
@cklunch @cflorian1 Thanks Claire and Chris!

(And just as a 'heads up' - we're going to be starting a package submission to CRAN in the next week or two of the code we've been using to calibrate the Atm Iso products. The package imports stackEddy from NEON-utilities, so it might start showing up on reverse import reports. Don't think any changes to stackEddy to fix this issue - if any are even re

[2021-03-04 19:39] cklunch commented on #112
@rfiorella Thanks Rich! If you can hold off until neonUtilities 2.0.1 is live on CRAN, that would probably be best. I wouldn't expect it to have an impact, but you never know. I'm hoping to get the package into the CRAN queue later today.

[2021-03-04 19:45] rfiorella commented on #112
@cklunch No problem! I have a lot of code clean up to do for CRAN before initial submission anyway :)

[2021-03-09 14:45] cklunch commented on #112
@rfiorella neonUtilities 2.0.1 is live on CRAN. Thanks!

[2021-03-09 14:46] cklunch commented on #111
This is resolved in neonUtilities 2.0.1, on CRAN now.

[2021-03-21 01:56] rfiorella commented on #112
@cklunch @cflorian1 Hey Claire and Chris - A quick update that our package (NEONiso 0.4.0) is live on CRAN now.

There's an issue using stackEddy on our output files as of 2.0.1, but it's 100% on my end and it only shows up when using stackEddy on files that have gone through the dev branch of NEONiso. Also was able to isolate the change between 2.0.0 and 2.0.1 that causes the issues (we changed t

[2021-03-22 13:27] cklunch commented on #112
@rfiorella This is great to hear! Would you be willing to submit the package to our Code Hub? https://www.neonscience.org/resources/code-hub We can make it more visible to other NEON users by listing it there.

Guidelines for submissions are here: https://www.neonscience.org/resources/code-hub/code-resources-guidelines and the submission form is here: https://www.neonscience.org/resources/code-hub

[2021-03-22 17:46] rfiorella commented on #112
Sure thing! Submitted this morning to tier 1.

On Mar 22, 2021, at 7:28 AM, Claire Lunch ***@***.******@***.***>> wrote:

@rfiorella<https://github.com/rfiorella> This is great to hear! Would you be willing to submit the package to our Code Hub? https://www.neonscience.org/resources/code-hub We can make it more visible to other NEON users by listing it there.

Guidelines for submissions are here:

[2021-03-26 21:29] rfiorella commented on #112
@cklunch Hi Claire -

Found a potential bug in stackEddy when working on trying to fix NEONiso to work better with neonUtilities >= 2.0.0 - stackEddy errors if var and avg are specified for level = 'dp01' variables that don't have anything under /dp01/ucrt or /dp01/qfqm.

An example:
stackEddy(data.path, var = 'dlta18OH2oRefe', avg = 9, level = 'dp01')

returns:
in timeSet[[q]] : subscript out of

[2021-03-29 13:56] cklunch commented on #112
@rfiorella Thanks Rich, I think your diagnosis is correct! It's a side effect of the changes I made to handle the empty single-day records. I'll try out a fix in the next couple of days.

[2021-03-30 14:08] cklunch commented on #112
@rfiorella Fix pushed to GitHub.
It will probably be a couple of months before the next CRAN release, let me know if that will be a problem!

[2021-03-30 14:46] rfiorella commented on #112
Thanks @cklunch! I'll try it out - no problem with the release schedule.

[2021-03-30 19:24] walleo860 opened #114 "loadByProduct Fails for sls at TALL for 2019-06"
**Function**
loadByProduct seems to be broken with a specific dpid, date, and site.

**Describe the bug**
dpid <- 'DP1.10086.001'
site <- 'TALL'
date <- '2019-06'

  portaldata <- loadByProduct( dpID = dpid,
                                   site = site,
                                   startdate = date,
                                   enddate = date,
                                   check

[2021-03-30 19:28] walleo860 opened #115 "Stacking tables failure"
**Function**
loadByProduct()

**Describe the bug**
The function downloads the data but then fails durring stacking

**To Reproduce**

portaldata <- loadByProduct( dpID = 'DP1.10081.001',
                                #site = site,
                                startdate = '2018-01',
                                enddate = '2019-12',
                                check.size = FALSE,

[2021-03-30 22:10] cklunch commented on #114
The data files for DP1.10086.001 TALL 2019-06 are empty, see issue log: https://data.neonscience.org/data-products/DP1.10086.001
This was a publication error, and this is the only instance of it. If more than one product-site-month is downloaded, the empty files will be skipped; it's failing here because there are no data at all when this is the only product-site-month accessed. I'll see if I can

[2021-03-30 22:14] cklunch commented on #115
A couple of versions back, I added functionality to attempt to guess the table type (site-date, site-all, lab-all, etc) when table type was unknown, and it looks like that had the side effect that now it's attempting to stack the per sample files in the microbe community composition data products (also affects DP1.30012.001, Field spectra), and failing. This will take some time to fix, but I'll ma

[2021-05-06 18:55] rfiorella commented on #112
Hi @cklunch !

A few more issues have arisen related to the error I posted on 3/26 above that seem to be related to base::merge() somewhere in stackEddy.

The following all produce a "fix.by(by.x, x): 'by' must specify uniquely valid columns" error (MacOS 11.3.1, R 4.0.4):

stackEddy(data.path, var = 'dlta18OH2oRefe', avg = 3, level = 'dp01')
stackEddy(data.path, var = 'dlta13CCo2Refe', avg = 9, l

[2021-05-06 19:10] cklunch commented on #112
@rfiorella Thanks for the alert! I'll take a look, and see about a fix in the next version. It's probably going to end up being 2.1.0 instead of 2.0.2, there are quite a few updates on deck. I'll report back here about what I find on this problem.

[2021-05-11 23:34] cklunch commented on #112
@rfiorella Well that turned out to be an annoying couple of bugs! Just a couple of oversights in the code in handling the scenarios where there is only one type of data (as opposed to data + qfqm + ucrt etc). I expect it mostly affects the isotope data. In addition to the error you hit above, you may find the earlier code was throwing out a few records unnecessarily, those should be restored now.

[2021-05-18 20:32] taddallas commented on #110
Re-upping this. I see a place where this could occur around line 207 of `zipsByProduct()`. I guess the use case is to be able to filter by known release, such that an analysis could be reproducible even with continued provisional data release. I could see one approach being to add a flag in the zipsByProduct() function to specify the release. By example, I arbitrarily set the release to "RELEASE-2

[2021-05-19 22:13] cklunch commented on #112
@rfiorella Fix is now on the master branch. Still doing some testing for v2.1.0, expecting to send to CRAN next week.

[2021-05-19 22:14] cklunch commented on #110
@annakat @taddallas This is enabled in zipsByProduct() and loadByProduct() on Github, expecting to submit to CRAN next week. Feel free to try it out here!

[2021-05-19 22:16] cklunch commented on #115
Stacking of per sample files is enabled, expecting to send to CRAN next week.

[2021-05-19 22:20] taddallas commented on #110
Ah nice. Looks like the solution you went with is pretty similar, but at the `getZipUrls` level (and then referenced in the zipsByProduct etc.. Looks great! Feel free to close issue.

[2021-05-19 22:32] rfiorella commented on #112
Sorry to be a bit slow returning to this - I'll test it out soon. Thanks!

[2021-06-08 12:42] #98 closed

[2021-06-08 12:45] cklunch commented on #115
Stacking of per sample files is included in neonUtilities 2.1.0, now on CRAN.

[2021-06-08 12:45] #115 closed

[2021-06-08 12:46] cklunch commented on #110
@annakat @taddallas neonUtilities 2.1.0 is now on CRAN, including download by release.

[2021-06-08 12:46] #110 closed

[2021-07-20 23:35] cklunch opened #117 "readr 2.0.0 breaks stackByTable()"
readr 2.0.0, released 2021-07-20, causes stackByTable() to error out. This also affects loadByProduct() and stackFromStore(), since both are wrappers for stackByTable(). stackEddy() should be unaffected, as should stackFromStore() when used as a wrapper for stackEddy().

To avoid this problem, do not update readr to 2.0.0. The error message when using 2.0.0 will be something like `Error in rbind(d

[2021-07-26 17:20] cklunch commented on #117
This is now resolved on GitHub in v2.1.1. Will update again and close this issue when the fix is on CRAN.

[2021-07-28 13:11] cklunch commented on #117
neonUtilities v2.1.1 is now on CRAN.

[2021-07-28 13:11] #117 closed

[2021-09-16 20:36] ocallahana opened #118 "Unable to update NEON-utilities in Cyverse"
**Function**
The issue is with updating and installing the newest version (2.1) of neonUtilities.

**Describe the bug**
I tried using `install.packages("neonUtilities")` in Cyverse in an RStudio instance, but the only version of neonUtilities that will download is 1.3.5. I uninstalled and tried to reinstall and use update commands with no luck. In particular, I tried to manually download the newes

[2021-09-16 21:16] cklunch commented on #118
@ocallahana I'm not able to access the container on CyVerse, but I'm guessing the default repo for package installation is somewhere local, so it's not up to date with the latest versions on CRAN. You can see where the system is looking by running getOption("repos"). NULL means local.

You can force it to look elsewhere by modifying the repo argument, as in:
`install.packages("neonUtilities", repo

[2021-09-16 21:18] ocallahana commented on #118
Hi Claire,

Thank you so much for the help!

Thanks,
Alexis

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Claire Lunch ***@***.***>
Sent: Thursday, September 16, 2021 4:16:28 PM
To: NEONScience/NEON-utilities ***@***.***>
Cc: Alexis O'Callahan ***@***.***>; Mention ***@***.***>
Subject: Re: [NEONScience/NEON-utilities] Unable to update NEON-utilities in Cyverse

[2021-09-27 19:36] natalie-robinson opened #119 "Difficulty publishing to shinyapps.io because description file still points to Bioconductor"
Description file

**Describe the bug**
Attempts to publish to shinyapps.io were failing because the description file contains the line "biocViews:". After removing this line (in ...R/library/neonUtilities/DESCRIPTION) and saving the file, I could publish the app

**To Reproduce**
uninstall neonUtilities (in case I had the old Bioconductor version)
Install from CRAN
Attempt to publish app to shinya

[2021-09-29 17:50] walleo860 opened #120 "Version 2.1.2 not getting data that does exist"
**Function**
loadByProduct

**Describe the bug**
the new version (2.1.2) of neonUtilities fails to produce existing data that can be downloaded with v2.0.0

**To Reproduce**
With version 2.1.2,
`
df <- loadByProduct(dpID = 'DP1.20206.001',
                                 site = 'ARIK',
                                 startdate = '2021-05',
                                 enddate = '2021-05',

[2021-09-30 16:51] #120 closed

[2021-11-15 21:25] kellyaho opened #121 "new error in loadByProduct()"
**Function**
Which of the functions in the neonUtilities package is this bug found in?
loadByProduct()

**Describe the bug**
A clear and concise description of what the bug is.
Error: lexical error: invalid char in json text.
                                       <!DOCTYPE html> <html lang="en"
                     (right here) ------^

**To Reproduce**
What function inputs revealed the bug?
load

[2021-11-16 15:32] cklunch commented on #121
@kellyaho I haven't been able to replicate this error. Let me know if you're still seeing it today, and let's troubleshoot offline.

[2021-11-16 20:38] cklunch commented on #121
We determined this was due to some sort of firewall/security issue. Leaving this issue open for now in case other users run into the same problem, but it is not a neonUtilities code problem. If users run into this, please get in touch with NEON, either by commenting on this issue or through the [Contact Us](https://www.neonscience.org/about/contact-us) page.

[2021-12-20 14:34] #119 closed

[2022-02-17 20:30] BrennanTHays commented on #121
I also had a similar issue today. I've run this code with no issue for a roughly a year and it suddenly threw out an error.

**Code:**
SRER.site.data <- loadByProduct(dpID = "DP1.10022.001",
                                 site = c( "SRER"),
                                 startdate = "2017-05",
                                 enddate = "2019-09")

**Error message:** Error in getZipUrls(month.u

[2022-02-22 00:40] cklunch commented on #114
The data files are no longer empty in RELEASE-2022, and neonUtilities has been updated to handle empty files more smoothly.

[2022-02-22 00:40] #114 closed

[2022-03-08 20:33] mikeyEcology opened #122 "Obtain each tree record for a site"
**Is your feature request related to a problem? Please describe.**
I'm trying to obtain each record for a tree at a site and having trouble understanding how this is possible. I've been using the "NEON USER GUIDE TO WOODY PLANT VEGETATION STRUCTURE (DP1.10098.001) AND NON‐HERBACEOUS PERENNIAL VEGETATION STRUCTURE (DP1.10045.001)" and I'm very confused about how the tables interact and overlap in t

[2022-04-18 14:24] #118 closed

[2022-04-18 14:25] cklunch commented on #103
zipsByURI() can accept R objects as inputs as of version 2.1.4, now on CRAN.

[2022-04-18 14:25] #103 closed

[2022-08-29 13:02] znickerson8 opened #123 "Precip data from AQU site co-located with TIS site will not download"
**Function**
zipsByProduct

**Describe the bug**
Error when downloading precip data (DP1.00006.001) using an aquatic site ID that does not have its own precip data, but pulls from the nearest co-located terrestrial site

**To Reproduce**
#precipitation data from the NEON API
  DP1.00006.001 <- neonUtilities::loadByProduct(
    dpID="DP1.00006.001",
    package = "basic",
    check.size = F,
    si

[2022-09-23 17:37] bw4sz opened #124 "The 2022 AOP data has a .json error and cannot be downloaded"
**Function**
The byFileAOP cannot be downloaded. I was attempting to download all 2022 aop data using a script I have used for several years. It works for 2021 data, but 2021 has a html/json error.

**Describe the bug**
**To Reproduce**

[code]

[code]

neonUtilities_2.1.4

**Additional context**
I have also tried on a linux HPC system, same error.

[2022-09-23 18:36] cklunch commented on #124
The /data endpoint of the NEON API is erroring out on some 2022 AOP data. We're investigating.

[2022-09-23 22:09] cklunch commented on #124
This issue is affecting essentially all 2022 AOP data. We're working on resolving, more details [here](https://www.neonscience.org/impact/observatory-blog/aop-data-availability-notification).

I'm also making an update to neonUtilities so that if this happens again, the error message will be a little more informative.

[2022-09-27 22:21] cklunch commented on #124
The AOP data access problem is resolved. The update to the byFileAOP()/byTileAOP() error message will be in the next version.

[2022-09-27 22:21] #124 closed